<div class='zb-card-content'>
<h3>Multiple choice</h3>

{{#each resource.questions as |question|}}
    <div class='question'>
        <div>{{question.number}}. {{question.text}}</div>
        <fieldset>
            {{#each question.choices as |choice|}}
                {{zb-radio-button value=choice
                                  selected=question.selectedChoice
                                  click=(action 'choiceClicked' question choice)
                                  displayText=choice.label
                                  name=question.enumeration
                                  color='orange'}}
            {{/each}}
        </fieldset>

        <div class='explanation'>
        {{#if question.selectedChoice}}
            <p class='message'>
                <span class="{{if question.selectedChoice.correct 'correct' 'incorrect'}}">{{if question.selectedChoice.correct 'Correct' 'Incorrect'}}</span> {{if question.selectedChoice.explanation '-'}} {{question.selectedChoice.explanation}}
            </p>
        {{/if}}
        </div>
    </div>
    {{/each}}
</div>
