<header class='top-toolbar'>
    <div class='left-buttons'>
        <div class='logo logo-menu-button-padding'>
            <img src='assets/logo.svg'/>
        </div>
        <div class='title'>
            authoring demo
        </div>
    </div>
</header>
<main>
    <section class='section-container'>
      <article class='zybook-section zb-card'>
        <div class='zb-card-content'>

                  <h2>{{section.title}}</h2>
        <section>
          <h3>Work log</h3>
          <ul>
            {{#each section.zypInfos as |info|}}
            <li>{{info.name}} - {{info.text}} {{moment info.timestamp 'MM-DD-YYYY'}}</li>
            {{/each}}
          </ul>
        </section>

        <section>
          <ul>
            {{#each section.contentResources as |cr|}}
                <li>{{cr.type}}</li>
            {{/each}}
          </ul>
        </section>
        </div>
        </article>
    </section>
</main>
