<header class='top-toolbar'>
    <div class='left-buttons'>
        <div class='logo logo-menu-button-padding'>
            <img src='assets/logo.svg'/>
        </div>
        <div class='title'>
            authoring demo
        </div>
    </div>
</header>
<main class='main-section'>
  <section class='section-container'>
    <article class='zybook-section zb-card'>
      <div class='zb-card-content'>
        <h2>{{section.title}}</h2>
        <section>
            {{#each section.contentResources as |resource|}}
              {{#if resource.componentName}}
                  {{component resource.componentName resource=resource}}
              {{else}}
                  {{resource.type}}
              {{/if}}
            {{/each}}
        </section>
      </div>
    </article>
  </section>
  <div class='zb-card zypinfo-card'>
    <div class='zb-card-content'>
      <section>
        <h3>Work log</h3>
        <ul>
          {{#each section.zypInfos as |info|}}
          <li>
            <div>
              <span class='user'>{{info.name}}</span> {{moment-format info.timestamp 'MM/DD/YY'}}
            </div>
            <div class='comment'>{{info.text}}</div>
          </li>
          {{/each}}
        </ul>
      </section>
    </div>
  </div>
</main>
